@page
@model RegisterModel
@{
  ViewData["Title"] = "Register";
}

<div class="row">
  <div class="col-md-6 login">
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
      <h4>Create a new accountox.</h4>
      <hr/>
      <div asp-validation-summary="All" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="Input.Username"></label>
        <input asp-for="Input.Username" class="form-control"/>
        <span asp-validation-for="Input.Username" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control"/>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control"/>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control"/>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
      </div>
      <button type="submit" class="btn btn-info twt-btn">Register</button>
    </form>
  </div>
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial"/>
}